# Ignora TUDO no diretório .config
/*
# Exceto estas pastas (e seus conteúdos)
!/emacs/
!/fish/
!/alacritty/
!/polybar/
!/hypr/
!/qtile/
!/bspwm/
!/autostart/
!/i3/
# Opcional: inclua o próprio .gitignore se quiser versioná-lo
!.gitignore
